@model IEnumerable<MVCHttpClient.Models.EmpProfile>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get All Employees</title>
</head>
<body>
    <h3>Employee Details</h3>
    <div>
        <table>
            <tr>
                <th>CODE</th>
                <th>NAME</th>
                <th>DATE OF BIRTH</th>
                <th>EMAIL</th>
                <th>DEPT CODE</th>
            </tr>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.EmpCode</td>
                    <td>@emp.EmpName</td>
                    <td>@emp.DateOfBirth</td>
                    <td>@emp.Email</td>
                    <td>@emp.DeptCode</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
